.nav-md .main_container .kv-detail-container{
    min-height: 250px;
    overflow: hidden;
}
.input-group-btn button{
    margin-bottom: 5px;
    margin-right: 0px;
}
.file-preview .close.fileinput-remove, .file-actions button.kv-file-remove, .file-thumbnail-footer span.text-info, .file-thumbnail-footer div.file-upload-indicator{
    display: none;
}
.nav-md .main_container .kv-detail-container{
    min-height: 250px;
    overflow: hidden;
}
.kv-detail-container{
    border: 1px solid #ddd;
    border-radius: 5px;
    min-height: 150px;
    overflow: auto;
    padding: 0 20px 5px;
}
.kv-detail-heading{
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    margin: 0 -20px 15px;
    padding: 5px 5px 5px 15px;
}
.kv-detail-crumbs{
    color: #aaa;
    font-size: 18px;
    padding-top: 6px;
    text-shadow: 0 1px 0 #fff;
}
.kv-detail-crumbs .kv-crumb-active{
    color: #777;
    font-weight: bold;
}
.btn.btn-default.tooltip-f[disabled]{
    opacity: 0.4;
}

span.fa{
    padding-right: 5px;
    color: #31708f;
}


.custom_x_content div.form-group{
    width: 100%;
    display: inline-block;
}
.custom_x_content div.form-group img.avatar, .detail-img img.avatar{
    min-height: 100px;
    min-width: 100px;
}

.show-loadmore{
    background: #ddd url('../images/loading.gif') center center no-repeat;
    min-height: 250px;
    opacity: 0.7;
}
.show-loadmore div.kv-detail-container{
    overflow: hidden;
    display: none;
}

.detail-img div.img-answer{
    position: relative;
}
.detail-img div.img-answer a.remove {
    position: absolute;
    bottom: 0px;
    z-index: 999;
    font-size: 20px;
    padding-left: 15px;
}

.custom_toolbox{
    display: inline-block;
}
.custom_toolbox div.field-examquiz-exam_id{
    float: left;
    margin-right: 15px;
}


.custom-checkbox{
    display: inline-block;
    margin-right: 5px;
}
.help-block.show-error{
    color: #a94442;
}

.table.table-striped.table-bordered tr:hover{
    cursor: pointer;
}

.btn.btn-app.custom-btn{
    min-width: 60px;
    height: 50px;
    padding: 9px 5px;
}
.btn.btn-app.custom-btn.btn-success{
    background-color: #169F85;
    color: #fff;
}
.btn.btn-app.custom-btn.btn-danger{
    background-color: #c9302c;
    color: #fff;
}
.table.table-striped.table-bordered.table-csv tbody tr{
    cursor: default;
}